.sidenav---sidenav---_2tBP {
    background: #1B1C1D;
}

body {
    background: #262626;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
  }

  
.icon {
    height: 40px;
    margin-bottom: 0.5rem;

    border: 3px solid black;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.smallerIcon {
    height: 20px;
    margin-right: 0.5rem;
}

.cardButton {
    width: 30%;
    justify-self: center;
}

.pushFromSidebar {
    margin-left: 64px;
}

.biggerText {
    font-size: 1.5rem;
}

/* Start of specific classes */

.navbar {
    display: flex;
    justify-content: center;
    height: 64px;
}

#search {
    width: 30%;
}

#display {
    padding: 1rem;
    height: calc(100vh - 64px);
    overflow: auto;
}

.cardTitle {
    display: flex;
    align-items: center;
}

.cardTitle > .languages {
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.cardTitle > .languages > .language {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.cardInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding-left: 0;

    width: 175px;
}

