/* HTML Tags */

body {
    background: #262626;
    color: white;
    transition-duration: 0.250;
}

p {
    margin: 0;
}

/* Sidenav color */

.sidenav---sidenav---_2tBP {
    background: #1B1C1D;
}

/* Generic classes */

.mb-1 {
    margin-bottom: 0.25rem !important;
  }

  
.icon {
    height: 40px;
    margin-bottom: 0.5rem;
}

.smallerIcon {
    height: 20px;
    margin-right: 0.5rem;
    margin-bottom: 7px;
}

.cardButton {
    width: 30%;
    justify-self: center;
}

.pushFromSidebar {
    margin-left: 64px;
}

.biggerText {
    font-size: 1.5rem;
}

.darkerBg {
    background: #222222;
}

.centerAll {
    text-align: center;
}

.fullWidthImg {
    width: 100%;
    height: auto;
}


/* Specific classes */

.navbar {
    display: flex;
    justify-content: center;
    height: 64px;
}

#search {
    width: 30%;
}

#display {
    padding: 1rem;
    height: calc(100vh - 64px);
    overflow: auto;
}

.cardTitle {
    display: flex;
    align-items: center;
}

.cardTitle > img {
    max-width: 96px;
}

.cardTitle > .languages {
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.cardTitle > .languages > .languagesWrapper {
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.cardInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding-left: 0;

    width: 175px;
}

.cardButton {
    width: 10vw;
}

.centerContentScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    min-height: calc(90vh);
}

.spinner {
    width: 5rem;
    height: 5rem;

    margin-bottom: 10vh;
}

/* Media queries */ 

@media (max-width: 1150px) {
    .cardButton {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .cardTitle > .languages {
        justify-content: center;
        align-items: center;
    }
    .cardTitle > .languages > .languagesWrapper {
        flex-flow: column nowrap;
        flex: initial;
        align-items: flex-start;
    }
    .language {
        display: flex;
    }
    .icon {
        margin-right: 5px;
        width: 20px;
        height: auto;
        justify-self: flex-start;
    }
    
}

@media (max-width: 600px) {
    #search {
        width: initial;
    }
    .cardTitle {
        flex-flow: column nowrap;
    }
    .cardInfo {
        margin-bottom: 1rem;
    }
}

@media (max-width: 400px) {
    .noResults > h1 {
        font-size: 3rem;
    }
}
    
    